.list-group-item {
    border-radius: 10px!important;
    background-color: rgba(51, 24, 65, 0.8)!important;
    color: white!important;
    border: none!important;
    margin-bottom: 5px;
}

.list-group-item:hover {
   opacity: 0.8;
   cursor: pointer;
}

#friend-schedule-go-back-div{
    position: absolute;
    left: 20px;
}

@media screen  and (max-width: 600px) {
    #friend-schedule-go-back-div{
        top: 150px;
    }
}

#friend-schedule-go-back-div button{
    background-color: rgba(51, 24, 65, 0.8)!important;
    color: #FFF;
}

#friend-schedule-go-back-div button:hover{
    opacity: 0.8;
}

.nav-link:hover {
    color: white!important;
    background-color: rgba(51, 24, 65, 0.2)!important;
}
.nav-link.btn-purple:hover {
    color: white!important;
    background-color: rgba(51, 24, 65, 0.6)!important;
}