#friend-schedule-go-back-div{
    position: absolute;
    left: 20px;
}

#friend-schedule-go-back-div button{
    background-color: rgba(51, 24, 65, 0.8)!important;
    color: #FFF;
    border-radius: 5px;
    padding: 3px 6px;
    font-size: 12px;
    border: none;
}

#friend-schedule-go-back-div button:hover{
    opacity: 0.8;
}

.nav-link:hover {
    color: white!important;
    background-color: rgba(51, 24, 65, 0.2)!important;
}
.nav-link.btn-purple:hover {
    color: white!important;
    background-color: rgba(51, 24, 65, 0.6)!important;
}

#friend-btns button {
    width: 100%;
    margin: 0 10px;
    background-color:rgba(18, 120, 18, 0.7);
    color: white;
    padding:  5px 10px;
    border-radius: 5px;
}

#friend-btns button:nth-last-child(1) {
    background-color:rgb(255, 0, 0, 0.7);
    color: white;
}

#friend-btns button:hover {
    opacity: 0.8;
}

#friend-btns {
    display: flex;
}

#friends-table-body td {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
}

@media screen  and (max-width: 992px) {
    #friend-schedule-go-back-div{
        top: 150px;
    }
}
@media screen  and (max-width: 768px) {
    #friend-schedule-go-back-div{
        top: 200px;
    }
    #friends-table-body td {
        font-size: 18px;
    }
    .nav-link{
        font-size: 12px;
        padding: 4px 8px!important;
    }
    #friends-table-body td {
        font-size: 16px;
    }
}