#schedule-table {
    width: 80%;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
}
#schedule-table tr {
    font-size: 10px;
}
#schedule-table tr:nth-child(4n) {
    border-bottom: 1px solid black;
}
#schedule-table td {
    width: 12%;
    color: #FFF;
    border-right: 1px solid black;
    font-size: 8px;
}
#schedule-table th {
    background-color: rgba(80, 23, 110, 1);
    border-bottom: 1px solid rgba(80, 23, 110, 1);
    font-size: 12px;
    user-select: none;
    color: #FFF;
}
#schedule-table td {
    background-color: lightgray;
    color: #000;
}

#schedule-table td:hover {
    opacity: 0.7;
}
.time-header {
    width: 3%!important;
    border-bottom: 1px solid rgba(80, 23, 110, 1);
}
.time-header div {
    display: flex;
    position: relative;
    top: -25px;
    justify-content: center;
}
.time-selected {
    background-color: green!important;
    color: white!important;
}
#table-tl {
    border-top-left-radius: 10px;
    border-left: none!important;
}
#table-tr {
    border-top-right-radius: 10px;
}