#schedule-table {
    width: 80%;
    text-align: center;
    margin-top: 20px;
    border-radius: 10px;
}
#schedule-table tr {
    font-size: 10px;
}
#schedule-table tr:nth-child(2n) {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}

#schedule-table tr:nth-child(4n) {
    border-bottom: 1px solid white;
}

#schedule-table tr:nth-last-child(1) {
    border-bottom: none;
}
#schedule-table td {
    width: 12%;
    color: #FFF;
    border-left: 1px solid white;
    font-size: 8px;
}
#schedule-table th {
    background-color: gray;
    border-bottom: 1px solid white;
    font-size: 12px;
    user-select: none;
    color: #FFF;
}
#schedule-table td {
    background-color: lightgray;
    color: #000;
}

#schedule-table td:hover {
    opacity: 0.7;
}
.time-header {
    width: 3%!important;
    border-bottom: 1px solid gray;
}
.time-header div {
    display: flex;
    position: relative;
    top: -15px;
    justify-content: center;
}

.time-header div:nth-child(2) {
    display: flex;
    top: -10px;
    justify-content: center;
    color: rgba(255, 255, 255, 0.7);
    font-size: 10px;
}
.time-selected {
    background-color: rgba(18, 120, 18, 0.6)!important;
    color: white!important;
}
#table-tl {
    border-top-left-radius: 10px;
    border-left: none!important;
    border-bottom: none!important;
}
#table-tr {
    border-top-right-radius: 10px;
}
.schedule-btns {
    display: flex;
    width: 50%;
    justify-content: space-around;
    margin: 15px 0;
}
.table-row th {
    border-bottom: 1px solid gray!important;
}