.fullscreen-bg {
    height: max(700px, 100vh);
}
.capitalize {
text-transform: capitalize;
}
.nav-link {
    color: #000!important;
}
.btn-purple {
    background-color: rgba(51, 24, 65, 0.8)!important;
    color: #FFF!important;
}
.btn-purple:hover {
    color: white!important;
    background-color: rgba(51, 24, 65, 0.7)!important;
}