@media screen  and (max-width: 600px) {
    .header-btn {
        font-size: 11px!important;
        padding: 2px 4px!important;
        margin: 10px 5px!important;
    }
}
.header-btn {
    margin: 0 5px;
}