@media screen  and (max-width: 600px) {
    .header-btn {
        font-size: 11px!important;
        padding: 2px 4px!important;
        margin: 10px 5px!important;
    }
    .nav-logo {
        display: none;
    }
}
.header-btn {
    margin: 0 5px;
}

.nav-logo {
    position: absolute;
    left: 10px;
}

.nav-logo img {
    width: 50px;
    height: 50px;
}