#login-form {
    position: relative;
    top: max(calc(50vh - 150px), 50px);
    background-color: rgba(107, 48, 119, 0.9);
    padding: 30px 20px;
    border-radius: 5px;
    color: #FFF;
}
#register-form {
    position: relative;
    top: max(calc(50vh - 220px), 25px);
    background-color: rgba(107, 48, 119, 0.9);
    padding: 30px 20px;
    border-radius: 5px;
    color: #FFF;
}
#loginRegister-bg {
    background-image: url('../../../public/img/clock2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}