.auth-form {
    position: relative;
    background-color: rgba(107, 48, 119, 0.9);
    padding: 30px 20px;
    border-radius: 10px;
    color: #FFF;
}
#login-form {
    top: max(calc(50vh - 180px), 50px);
}
#register-form {
    top: max(calc(50vh - 300px), 25px);
}
.auth-bg {
    background-image: url('../../../public/img/clock2.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}